* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.enca {
  background-color: black; }
  .enca nav div ul li a {
    font-size: 1.25rem;
    color: burlywood; }
  .enca nav div h1 {
    font-size: 3.125rem;
    color: burlywood; }


.formu {
  width: 50%;
  display: block;
  flex-direction: column;
  justify-items: center; }
