*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-nav
    li
    a{
        color: burlywood;
    }
    
    
.main-ini{
    background-color: rgba(173, 230, 192, 0.514);
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text-bien{
    font-size: 2.1875rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}





























.footer .navbar-nav a{
    width: 50%;
}