@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Pacifico&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Qwitcher+Grypen&display=swap');



$text-parra : 'Indie Flower', cursive;
$text-titulo : 'Lobster', cursive;
$titulo-parra :  'Pacifico', cursive;
$solapas : 'Tilt Prism', cursive;
$text-fami:'Questrial', sans-serif;
$text-titu-fami: 'Qwitcher Grypen', cursive;           

$color-text-enca: burlywood;