@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Pacifico&family=Tilt+Prism&display=swap');




$text-parra : 'Indie Flower', cursive;
$text-titulo : 'Lobster', cursive;
$titulo-parra :  'Pacifico', cursive;
$solapas : 'Tilt Prism', cursive;
            
            

$color-text-enca: burlywood;