
footer{
    nav{
        div{
            div{
                div{
                    a{
                        img{
                            width: 50%;
                        }
                        
                    }
                }
            }
            p{
                font-family: $titulo-parra;
                color: $color-text-enca;
            }

        }
    }
}

