.enca{
  background-color: black;
  
    h1{
      font-family: $text-parra;
      font-size: 3.75rem;
      color: $color-text-enca
    }
    
    
   nav{
       
       div{ 
        flex-grow:unset;
          ul{
            display: flex;
            justify-content:space-evenly;
               li{
                   a{
                    font-family: $solapas;
                   font-size: 1.875rem;
                   color: $color-text-enca;
                   
                   }
                   &.hover{
                    color: white;
                    font-size: 5%;
                   }
               }
              
               
                  
           }
           
       }
   }
}
