.enca{
  background-color: black;
   nav{
       
       div{ 
        display: flex;
        justify-content: space-between;
          ul{
               
               li{
                   a{
                    font-family: 'Cinzel Decorative', cursive;
                    font-family: 'M PLUS 1', sans-serif;
                    font-family: 'Monoton', cursive;
                   font-size: 1.25rem;
                   color: $color-text-enca; 
                   }
                   &.hover{
                    color: white;
                   }
               }
              
               
                  
           }
           h1{
               font-size: 3.125rem;
               color: $color-text-enca;
           }
       }
   }
}