.enca{
  background-color: black;
  
    h1{
        font-size: 3.125rem;
        
        
    }
    
    
   nav{
       
       div{ 
        flex-grow:unset;
          ul{
            display: flex;
            justify-content:space-evenly;
               li{
                   a{
                    font-family: 'Cinzel Decorative', cursive;
                    font-family: 'M PLUS 1', sans-serif;
                    font-family: 'Monoton', cursive;
                   font-size: 1.25rem;
                   
                   }
                   &.hover{
                    color: white;
                   }
               }
              
               
                  
           }
           
       }
   }
}
