    
.main-ini{
    width: 100%;
    height: 31.25rem;
    background-image: url("../../assets/img/viñedo\ a\ lo\ largo\ \(1\).png");
    display: flex;
    justify-content: center;
    
    
    background-repeat: no-repeat;
    background-size:cover;
    div{
       p{
        margin-top: 1.875rem;
        font-size: 1.875rem;
        text-decoration:dotted;
        color:rgba(4, 40, 41, 0.418);
        text-decoration:underline;
        text-align: center;
       }
    }
}