
    
    .vinos{
        background-image: linear-gradient(to bottom, #380f46, #4e146b, #611c94, #7226c0, #7d34f0);
        iframe{
            margin: 1.25rem;
        }
       
    }

.card{
        
    
        font-family: $text-titulo;
        font-size: 1.25rem;
        margin: 1.25rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         .card-title{
            font-family: $solapas;
            font-size: 1.875rem;
        }
         img{
            width: 50%;
            margin: .9375rem;
        }
       

    
 }
