@media(max-width:990px) {
    
    .enca{
        nav{
            div{
                div{
                    ul{
                        a{
                            font-size: 1.25rem;
                        }
                        
                    }
                }
            }
        }
    }
    .enca{
        h1{
            font-size: 2.5rem;
        }
       
        }


    footer{
        p{
            display: none;
        }
        nav{
            div{
                width: 100%;
                div{
                    a{

                    
                
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        }
                }
            }
        }
    }